<a href="https://colab.research.google.com/github/thiagoti2025/Cartilhas-Python/blob/main/Un_03_aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

#conectar ao banco de dados 9ou criar um novo)
conn = sqlite3.connect('exemplo.db')

#criar um objeto cursor
cursor = conn.cursor()

#definir o comando SQL para criar a tabela
create_table = """
CREATE TABLE IF NOT EXISTS produtos (
    id INTEGER PRIMARY KEY,
    nome TEXT NOT NULL,
    preco REAL NOT NULL,
    ESTOQUE integer
);
"""

#executar o comando SQL para criar a tabela
cursor.execute(create_table)
#confirmar as alterações (commit)
conn.commit()

#fechar a conexão com o banco de dados
conn.close()

In [ ]:
import sqlite3
#conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
#dados do novo produto
novo_produto = ('camiseta', 19.99, 50)
#comando SQL para inserir o novo produto na tabela
inserir_produto = "INSERT INTO produtos (nome, preco, estoque) VALUES (?, ?, ?)"
#executar o comando SQL para inserir o novo produto
cursor.execute(inserir_produto, novo_produto)
#confirmar as alterações (commit)
conn.commit()
#fechando a conexão
conn.close()
import sqlite3

In [ ]:
#conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
#comando SQL para selecionar todos os produtos
selecionar_produtos = "SELECT * FROM produtos"
#executar o comando SQL para selecionar os produtos
cursor.execute(selecionar_produtos)
#obter todos os resultados da consulta
produtos = cursor.fetchall()
for produto in produtos:
    print(produto)
#fechando a conexão
conn.close()

(1, 'camiseta', 19.99, 50)

In [ ]:
import sqlite3
#conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
#novo preço e ID do produto a ser atualizado
novo_preco = 24.99
produto_id = 1 #suponha que queiramos atualizar o produto com ID 1
atualizar_preco = "UPDATE produtos SET preco = ? WHERE id = ?"
#executar o comando SQL para atualizar o preço do produto
cursor.execute(atualizar_preco, (novo_preco, produto_id))
#confirmar as alterações (commit)
conn.commit()
#fechan

In [ ]:
import sqlite3
# CREATE (Criação da tabela e inserção de dados de exemplo)
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Contatos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT,
        email TEXT,
        telefone TEXT
    )
''')
dados_exemplo = [
    ('João', 'joao@email.com', '123-456-7890'),
    ('Maria', 'maria@email.com', '987-654-3210'),
    ('Carlos', 'carlos@email.com', '555-555-5555')
]
cursor.executemany('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)',
dados_exemplo)
conn.commit()
# READ (Leitura e exibição dos contatos)
cursor.execute('SELECT * FROM Contatos')
contatos = cursor.fetchall()
print("Contatos:")
for contato in contatos:
    print(contato)
# UPDATE (Atualização do número de telefone do contato com ID 2)
novo_telefone = '999-999-9999'
contato_id = 2
cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))
conn.commit()
# DELETE (Exclusão do contato com ID 1)
contato_id_para_excluir = 1
cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_para_excluir,))
conn.commit()
# Fechar a conexão com o banco de dados
conn.close()

Contatos:
(2, 'Maria', 'maria@email.com', '999-999-9999')
(3, 'Carlos', 'carlos@email.com', '555-555-5555')
(4, 'João', 'joao@email.com', '123-456-7890')
(5, 'Maria', 'maria@email.com', '987-654-3210')
(6, 'Carlos', 'carlos@email.com', '555-555-5555')
(7, 'João', 'joao@email.com', '123-456-7890')
(8, 'Maria', 'maria@email.com', '987-654-3210')
(9, 'Carlos', 'carlos@email.com', '555-555-5555')

In [ ]:
import sqlite3

# CREATE (Criação da tabela e inserção de dados de exemplo)
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Contatos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT,
        email TEXT,
        telefone TEXT
    )
''')

# --- MODIFICAÇÃO: Adiciona a coluna 'nascimento' se ela ainda não existir ---
try:
    cursor.execute('ALTER TABLE Contatos ADD COLUMN nascimento TEXT')
    print("Coluna 'nascimento' adicionada com sucesso!")
except sqlite3.OperationalError:
    # Ignora o erro se a coluna já existir
    print("A coluna 'nascimento' já existe. Continuando...")

dados_exemplo = [
    ('João', 'joao@email.com', '123-456-7890', '1990-01-15'),
    ('Maria', 'maria@email.com', '987-654-3210', '1988-05-22'),
    ('Carlos', 'carlos@email.com', '555-555-5555', '1992-11-30')
]

# Insere os dados, incluindo a nova coluna
cursor.executemany('INSERT INTO Contatos (nome, email, telefone, nascimento) VALUES (?, ?, ?, ?)',
dados_exemplo)
conn.commit()

# --- MODIFICAÇÃO: Lendo dados específicos e ordenando ---
print("\n--- Contatos (ordenados por nome) ---")
cursor.execute('SELECT nome, telefone FROM Contatos ORDER BY nome ASC')
contatos = cursor.fetchall()
for contato in contatos:
    print(f"Nome: {contato[0]}, Telefone: {contato[1]}")

# UPDATE (Atualização do número de telefone do contato com ID 2)
novo_telefone = '999-999-9999'
contato_id = 2
cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))
conn.commit()
print(f"\nTelefone do contato com ID {contato_id} atualizado com sucesso.")

# DELETE (Exclusão do contato com ID 1)
contato_id_para_excluir = 1
cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_para_excluir,))
conn.commit()
print(f"Contato com ID {contato_id_para_excluir} excluído com sucesso.")

# Fechar a conexão com o banco de dados
conn.close()

Coluna 'nascimento' adicionada com sucesso!

--- Contatos (ordenados por nome) ---
Nome: Carlos, Telefone: 555-555-5555
Nome: Carlos, Telefone: 555-555-5555
Nome: Carlos, Telefone: 555-555-5555
Nome: Carlos, Telefone: 555-555-5555
Nome: João, Telefone: 123-456-7890
Nome: João, Telefone: 123-456-7890
Nome: João, Telefone: 123-456-7890
Nome: Maria, Telefone: 999-999-9999
Nome: Maria, Telefone: 987-654-3210
Nome: Maria, Telefone: 987-654-3210
Nome: Maria, Telefone: 987-654-3210

Telefone do contato com ID 2 atualizado com sucesso.
Contato com ID 1 excluído com sucesso.

In [ ]:
import sqlite3

# --- ETAPA 1: CONEXÃO E CRIAÇÃO DA TABELA ---
# Conecta-se ou cria o arquivo do banco de dados
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()

# Cria a tabela de Contatos se ela ainda não existir
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Contatos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT,
        email TEXT,
        telefone TEXT
    )
''')

# --- ETAPA 2: ADIÇÃO DE NOVA COLUNA ---
# Adiciona a coluna 'nascimento' de forma segura
try:
    cursor.execute('ALTER TABLE Contatos ADD COLUMN nascimento TEXT')
    print("Coluna 'nascimento' adicionada com sucesso!")
except sqlite3.OperationalError:
    # Se a coluna já existir, o código ignora o erro e continua
    print("A coluna 'nascimento' já existe. Continuando...")

# --- ETAPA 3: INSERÇÃO DE DADOS ---
# Dados de exemplo com a nova coluna de nascimento
dados_exemplo = [
    ('João', 'joao@email.com', '123-456-7890', '1990-01-15'),
    ('Maria', 'maria@email.com', '987-654-3210', '1988-05-22'),
    ('Carlos', 'carlos@email.com', '555-555-5555', '1992-11-30')
]

# Insere os dados na tabela
cursor.executemany('INSERT INTO Contatos (nome, email, telefone, nascimento) VALUES (?, ?, ?, ?)',
dados_exemplo)
conn.commit()

# --- ETAPA 4: LEITURA E EXIBIÇÃO DOS DADOS ---
# Seleciona nome, telefone e nascimento, e os ordena por nome
print("\n--- Contatos (lista completa) ---")
cursor.execute('SELECT nome, telefone, nascimento FROM Contatos ORDER BY nome ASC')
contatos = cursor.fetchall()
for contato in contatos:
    print(f"Nome: {contato[0]}, Telefone: {contato[1]}, Nascimento: {contato[2]}")

# --- ETAPA 5: ATUALIZAÇÃO DE DADOS ---
# Atualiza o telefone do contato com ID 2
novo_telefone = '999-999-9999'
contato_id = 2
cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))
conn.commit()
print(f"\nTelefone do contato com ID {contato_id} atualizado com sucesso.")

# --- ETAPA 6: EXCLUSÃO DE DADOS ---
# Exclui o contato com ID 1
contato_id_para_excluir = 1
cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_para_excluir,))
conn.commit()
print(f"Contato com ID {contato_id_para_excluir} excluído com sucesso.")

# --- ETAPA 7: FECHAR CONEXÃO ---
# Fecha a conexão com o banco de dados
conn.close()

A coluna 'nascimento' já existe. Continuando...

--- Contatos (lista completa) ---
Nome: Carlos, Telefone: 555-555-5555, Nascimento: None
Nome: Carlos, Telefone: 555-555-5555, Nascimento: None
Nome: Carlos, Telefone: 555-555-5555, Nascimento: None
Nome: Carlos, Telefone: 555-555-5555, Nascimento: 1992-11-30
Nome: Carlos, Telefone: 555-555-5555, Nascimento: 1992-11-30
Nome: João, Telefone: 123-456-7890, Nascimento: None
Nome: João, Telefone: 123-456-7890, Nascimento: None
Nome: João, Telefone: 123-456-7890, Nascimento: 1990-01-15
Nome: João, Telefone: 123-456-7890, Nascimento: 1990-01-15
Nome: Maria, Telefone: 999-999-9999, Nascimento: None
Nome: Maria, Telefone: 987-654-3210, Nascimento: None
Nome: Maria, Telefone: 987-654-3210, Nascimento: None
Nome: Maria, Telefone: 987-654-3210, Nascimento: 1988-05-22
Nome: Maria, Telefone: 987-654-3210, Nascimento: 1988-05-22

Telefone do contato com ID 2 atualizado com sucesso.
Contato com ID 1 excluído com sucesso.